<div class="wrapper-misc">
    <h1>Contact Us</h1>


    <div class="row">
        <div class="col-md-6">

            <form role="form"
                  name="ContactForm"
                  id="ContactForm"
                  class="css-form"
                  novalidate
                  ng-submit="processForm()">
                <div class="form-group">
                    <label for="FirstName">First Name</label>
                    <input type="text"
                           class="form-control"
                           id="FirstName"
                           name="FirstName"
                           placeholder="Enter first name"
                           ng-model="user.firstname"
                           required/>
                </div>
                <div class="form-group">
                    <label for="LastName">Last Name</label>
                    <input type="text"
                           class="form-control"
                           id="LastName"
                           name="LastName"
                           placeholder="Enter last name"
                           ng-model="user.lastname"
                           required/>
                </div>
                <div class="form-group">
                    <label for="Email">Email address</label>
                    <input type="email"
                           class="form-control"
                           id="Email"
                           name="Email"
                           placeholder="Enter email"
                           ng-model="user.email"
                           required/>

                    <div class="form-warning"
                         ng-show="ContactForm.Email.$dirty && ContactForm.Email.$invalid">
                        <span ng-show="ContactForm.Email.$error.required">required</span>
                        <span ng-show="ContactForm.Email.$error.email">invalid email</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Address">Address</label>
                    <input type="text"
                           class="form-control"
                           id="Address"
                           name="Address"
                           placeholder="Enter address"
                           ng-model="user.address"
                           required/>
                </div>
                <div class="form-group">
                    <label for="Address2">Address 2</label>
                    <input type="text"
                           class="form-control"
                           id="Address2"
                           name="Address2"
                           placeholder=""
                           ng-model="user.address2"
                           required/>
                </div>
                <div class="form-group">
                    <label for="City">City</label>
                    <input type="text"
                           class="form-control"
                           id="City"
                           name="City"
                           placeholder="City"
                           ng-model="user.city"
                           required/>
                </div>

                <div class="form-group">
                    <label for="Country">Country</label>
                    <select ng-model="thecountries" ng-options="item.name  for item in Countries track by item.name" name="Country"    id="Country"    class="form-control" ng-change="showStates()">
                    </select>
                </div>

                <div class="form-group" ng-show="thecountries.name == 'United States'">
                    <label for="State">State</label>
                    <select ng-model="thestates" ng-options="item.attributes.name for item in USstates.state track by item.attributes.name" name="State"    id="State"    class="form-control" >
                    </select>
                </div>

                <div class="form-group"
                    <label for="Message">Message</label><br/>

                    <textarea id="Message"
                              name="Message"
                              style="width: 100%; min-height: 150px; "
                              class="form-control"
                              ng-model="user.message"></textarea>

                </div>


                <button type="submit"
                        class="btn btn-default"
                        ng-click="update(user)"
                        ng-disabled="ContactForm.$invalid || isUnchanged(user)">SEND MESSAGE
                </button>

                <div id="message">{{message}}</div>
            </form>

            <div class="debug">
                <pre>form = {{user | json}}</pre>
                <pre>master = {{master | json}}</pre>
            </div>
        </div>
    </div>
</div>